#fw-feed-items .fw-feed-item {
  border-bottom: none;
}

body > div.fw-branding > a {
  visibility: hidden;
}

@font-face {
  font-family: "VagLight";
  src: url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=168cd24f7c8de4bd08788ce3b74f17573&authkey=AaIICq2bxnSqyK0m96epjxg?#iefix");
  src: url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=168cd24f7c8de4bd08788ce3b74f17573&authkey=AaIICq2bxnSqyK0m96epjxg?#iefix")
      format("eot"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=14471f28fd2824712808c686084cf7b4b&authkey=AejhaxXJWqGfj4z53sCsqSo")
      format("woff2"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=1adf36ac191154213b66636a6ccfea367&authkey=AVvHpM8zMojq1ey5Lqak5Gg")
      format("woff"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=1806e0d861b6741b59ccebdac7ca12d04&authkey=AUUy3xLWN_AklBl-SMF7gxU")
      format("truetype"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=13061354b8e3340cd8353ddb378e1b9bb&authkey=AQ9BDNssNsxrWRqPRZ1tTbA")
      format("svg");
}
@font-face {
  font-family: "Vag";
  src: url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=14471f28fd2824712808c686084cf7b4b&authkey=AejhaxXJWqGfj4z53sCsqSo?#iefix");
  src: url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=14471f28fd2824712808c686084cf7b4b&authkey=AejhaxXJWqGfj4z53sCsqSo?#iefix")
      format("eot"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=11bd1484a44b241d0bfbd0facf05f6827&authkey=ASzSpDyDypdKqLAo0OpwBHg")
      format("woff2"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=108727b41152543549d315891c67aa4d5&authkey=AeM7eCI8Rbk_S-3rTgU962o")
      format("woff"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=1979391d1ea4c420888726fa41203b198&authkey=AacSvLpsuQKKvDd0sIm6gKI")
      format("truetype"),
    url("https://northerngas-my.sharepoint.com/personal/dwhittaker_northerngas_co_uk/_layouts/15/guestaccess.aspx?docid=1a4e2facbc9bf4efc9680b9ada735e420&authkey=AYC7co1JXPjXPtNrXfNrkwU")
      format("svg");
}

.fw-feed-title {
  font-family: "Vag", Helvetica, Arial, sans-serif;
}

.fw-feed-item-title {
  font-family: "Vag", Helvetica, Arial, sans-serif;
}

.fw-feed-item-description {
  font-family: "VagLight", Helvetica, Arial, sans-serif;
}

.fw-feed-item-date {
  font-family: "VagLight", Helvetica, Arial, sans-serif;
}
